body {
  background: rgb(200, 200, 200);
  background: linear-gradient(
    90deg,
    rgba(100, 100, 100, 1) 0%,
    rgba(225, 225, 225, 1) 50%,
    rgba(100, 100, 100, 1) 100%
  );
}

#container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 50px auto;
  width: 90%;
}

#display {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: inherit;
  border-radius: 50px;
  box-shadow: 0 0 15px 5px black;
}

#previous {
  background: rgb(112, 128, 144);
  background: linear-gradient(
    0deg,
    rgba(112, 128, 144, 1) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(112, 128, 144, 1) 100%
  );
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  border-radius: 50px 0 0 50px;
}

#next {
  background: rgb(112, 128, 144);
  background: linear-gradient(
    0deg,
    rgba(112, 128, 144, 1) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(112, 128, 144, 1) 100%
  );
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  border-radius: 0 50px 50px 0;
}

#picture {
  width: 100%;
  position: relative;
}

#picture img {
  width: inherit;
  height: 100%;
  object-fit: cover;
}

#description {
  pointer-events: none;
  display: none;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
  margin: 0;
}

#title {
  margin: 10px;
  display: none;
  text-shadow: 0 0 25px black;
  font-family: 'Bebas Neue', cursive;
  font-size: 24px;
  color: white;
  bottom: 15px;
  left: 70px;
}

#blurb {
  margin: 10px 20px;
  text-align: justify;
  display: none;
  text-shadow: 0 0 25px black;
  font-family: 'Bebas Neue', cursive;
  font-size: 16px;
  color: white;
  bottom: 5px;
  left: 70px;
}

#previous img {
  height: 60px;
  width: 60px;
}

#next img {
  height: 60px;
  width: 60px;
  transform: rotate(180deg);
}

#slideshow {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  width: inherit;
}

#slideshow p {
  margin: 0;
}

.thumb img {
  box-shadow: 0px 30px 5px -20px rgba(0, 0, 0, 0.75);
  width: 200px;
  height: 100px;
  object-fit: cover;
  margin: 25px 5px 0 5px;
  border-radius: 60px;
}

.thumb {
  position: relative;
}

.hidden {
  pointer-events: none;
  position: absolute;
  background: slategray;
  color: white;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  font-size: 14px;
  padding: 10px;
  border-radius: 25px;
  white-space: nowrap;
  box-shadow: 0px 15px 5px -10px rgba(0, 0, 0, 0.75);
}

.thumb:hover .hidden {
  display: block !important;
}
